@using F1_mvc.Models

@model IEnumerable<seasons>

@{
    ViewBag.Title = "Season Calendar";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


    Choose one season.

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr scope="row">
                    <td>
                        <a href="@item.url">@item.year</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

